<header class="page-header">
    <div class="banner-left">
      <a class="banner-a" href="{{site.url}}/">
        <h1 class="banner-name">Abbas Tariverdi</h1>
      </a>

      <ul class="banner-links">          
        <li class="banner-link linkedin">
          <a href="https://www.linkedin.com/in/abbasta/">LinkedIn</a>
        </li>
        <li class="banner-link github">
          <a href="https://github.com/abbas-tari">Github</a>
        </li>
        <!-- <li class="banner-link twitter">
          <a href="https://twitter.com/bboosst">Twitter</a>
        </li> -->
        <!-- <li class="banner-link mastodon">
          <a rel="me" href="https://mastodon.social/@abbast">Mastodon</a>
        </li> -->
      </ul>
    </div>

    <div class="banner-right">
      <div class="banner-avatar">
        <a href="/">
          <img
            src= ../static/images/abbas8.jpg
            title="Abbas Tariverdi"
            alt="Abbas Tariverdi" />
        </a>
      </div>
    </div>
</header>
